# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Env files
.env
.env.*

# Virtual environments
venv/
.env/
.venv/

# Alembic cache
alembic/__pycache__/

# Docker
*.pid

# IDE
.vscode/
.idea/

# __pycache__ inside app
app/__pycache__/
app/*/__pycache__/
